.gallery-thumbnails {
  display: none;

  @include e(single) {
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    img {
      display: block;
      width: 100%;
    }
  }
}

.slider-main {

  @include e(image) {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}



// Desktop styles
@include bp(desktop) {

  .gallery-thumbnails {
    display: block;
    @include span-columns(1);
  }

  .slider-main {
    @include span-columns(6);

    @include e(image) {
      height: 750px;
    }
  }
}
