.product-measurements {
  @include clearfix;

  @include e(image) {
    margin-bottom: 25px;
    img {
      display: block;
      width: 100%;
    }
  }

  @include e(info) {
    h4 {
      font-size: 12px;
      line-height: (18/12);
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: normal;
      margin-bottom: 20px;
    }
    p {
      font-size: 12px;
      line-height: (14/12);
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
  }

  @include e(sizes) {
    display: flex;
    align-items: center;

    .option-radio {
      position: relative;
      @include size(35px);
      border: 1px solid $black;
      background: $white;
      margin-left: -1px;
      margin-bottom: 20px;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }

      @include m(large) {
        @include size(70px, 35px);
      }

      @include is(active) {
        background: $black;
        color: $white;
      }

      span {
        @include align(both);
        font-size: 12px;
      }
    }
  }
  @include e(more-info) {
    margin-top: 30px;
  }

  @include e(table) {
    margin: 0;

    td {
      padding: 9px 0;
      border-bottom: none;
      font-size: 12px;
      line-height: (14/12);
      letter-spacing: 1px;
    }
  }


}


@include bp(desktop) {
  .product-measurements {
    @include e(image) {
      @include span-columns(6);
    }
    @include e(info) {
      @include span-columns(6);
    }

    @include e(table) {
      width: 50%;
    }
  }
}
