<div class="desktop-dropdown">
  <div class="container">
    <div class="desktop-dropdown__column">
      <a href="#">Clothing</a>
      <a href="#">T-Shirts & Tanks</a>
      <a href="#">Sweater & Knitwear</a>
      <a href="#">Shorts</a>
      <a href="#">Denim</a>
      <a href="#">Trousers</a>
      <a href="#">Jackets & Blazers</a>
      <a href="#">Outwear</a>
      <a href="#">Socks</a>
    </div>
    <div class="desktop-dropdown__column">
      <a href="#">Essentials</a>
      <a href="#">Best Sellers</a>
      <a href="#">Sportswear</a>
      <a href="#">Sports Luxe Style</a>
      <a href="#">Best of Denim</a>
      <a href="#">Modern Tailoring</a>
      <a href="#">New Minimalism</a>
      <a href="#">Vacation</a>
      <a href="#">Occaseionwear</a>
      <a href="#">New Season Now: AW16</a>
      <a href="#">Vacation</a>
      <a href="#">Odd Finds</a>
    </div>
    <div class="desktop-dropdown__column">
      <a href="#">Trend Focus</a>
      <a href="#">Checked</a>
    </div>
    <div class="desktop-dropdown__column--large">
      <figure class="desktop-dropdown__featured-img">
        <img src="/assets/images/menu-1.jpg">
        <figcaption>
          <h3>Collection</h3>
          <h2>Headline with One Line</h2>
          <a href="#" class="cta">Shop Now</a>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
