<nav class="desktop-menu">
  <div class="container">
    <div class="row--flex">
      <div class="desktop-menu__left-side">
        <a href="#">Clothing</a>
        <a href="#">Shoes</a>
        <a href="#">Accesories</a>
        <a href="#">Sale</a>
        <a href="#">Designers</a>
      </div>
      <div class="desktop-menu__right-side">
        <img class="desktop-menu__search-icon" src="/assets/images/search-icon.png" alt="Search" />
        <p>Search</p>
      </div>
    </div>
  </div>
</nav>
