<div class="desktop-search">
  <div class="container">
    <div class="desktop-search__categories">
      <a href="#" class="is-selected">Everything</a>
      <a href="#">Men</a>
      <a href="#">Women</a>
      <a href="#">Lifestyle</a>
    </div>

    <input class="desktop-search__search-input" type="text", placeholder='Type To Search'>

    <div class="desktop-search__results">
      <div class="desktop-search__column--large">
        <p>Product Name</p>
        <a href="#"><span class="match">Jack</span>ets <span class="category"> in Clothing (28)</span></a>
        <a href="#">Bomber <span class="match">jack</span>ets <span class="category"> in Jackets (71)</span></a>
        <a href="#">Padded & Down <span class="match">Jack</span>ets <span class="category"> in Jackets (64)</span></a>
        <a href="#">Sport <span class="match">Jack</span>ets <span class="category"> in Jackets (22)</span></a>
      </div>

      <div class="desktop-search__column">
        <p>Designers</p>
        <a href="#"><span class="match">Jack</span> Dorsey</a>
        <a href="#">Jupe by <span class="match">Jack</span>ie</a>
      </div>
    </div>
  </div>
</div>
