<footer class="site-footer">
  <div class="container">

    <!-- First Footer Item -->
    <div class="footer-column">
      <div class="footer-column__title">
        <h4>About</h4>
        <img src="/assets/images/plus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-more"/>
        <img src="/assets/images/minus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-less"/>
      </div>

      <div class="footer-column__info">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>

    <!-- Second Footer Item -->
    <div class="footer-column">
      <div class="footer-column__title">
        <h4>Customer Service</h4>
        <img src="/assets/images/plus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-more"/>
        <img src="/assets/images/minus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-less"/>
      </div>

      <div class="footer-column__info">
        <ul>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
    </div>

    <!-- Third Footer Item -->
    <div class="footer-column">
      <div class="footer-column__title">
        <h4>Store</h4>
        <img src="/assets/images/plus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-more"/>
        <img src="/assets/images/minus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-less"/>
      </div>

      <div class="footer-column__info">
        <ul>
          <li>164 Ludlow Street</li>
          <li>New York, NY 10002</li>
          <li>(212) 777 - 0990</li>
          <li>Mon-Sat 12-8</li>
          <li>Sunday 12-7</li>
        </ul>
      </div>
    </div>

    <!-- Fourth Footer Item -->
    <div class="footer-column footer-column--always-open">
      <div class="footer-column__title">
        <h4>Connect</h4>
      </div>

      <div class="footer-column__info">
        <input type="email" name="email" placeholder="Sign Up For Our Newsletter">

        <div class="footer-column__social">
          <a href="#">Facebook</a>
          <a href="#">Instagram</a>
          <a href="#">Tumblr</a>
          <a href="#">Twitter</a>
        </div>
      </div>
    </div>
  </div>
</footer>
