<div class="mobile-menu__search">
  <div class="mobile-menu__row--flex">
    <img class="mobile-menu__search--white" src="/assets/images/search-icon.png" alt="Search Icon" />
    <img class="mobile-menu__search--black" src="/assets/images/search-icon-black.png" alt="Search Icon" />
    <select  class="mobile-menu__select">
      <option value="">Everything</option>
      <option value="">Men</option>
      <option value="">Women</option>
      <option value="">Lifestyle</option>
    </select>
  </div>

  <div class="mobile-menu__search-container">
    <div class="mobile-menu__search-box">
      <input type="text" placeholder="Type To Search">

      <div class="mobile-menu__results">
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
        <a href=""><em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category">Clothing</span><span class="mobile-menu__results--amount"> (28)</span></a>
        <a href="">Bomber <em class="mobile-menu__results--match">Jack</em>ets in <span class="mobile-menu__results--category"><em class="mobile-menu__results--match">Jack</em>ets</span><span class="mobile-menu__results--amount"> (71)</span></a>
      </div>
    </div>
  </div>
</div>
