<div class="mobile-menu">

  <div class="mobile-menu__search">
    <img src="/assets/images/search-icon.png" alt="Search Icon" />
  </div>

  <div class="mobile-menu__top-categories">
    <a href="#" class="is-selected">Men</a>
    <a href="#">Women</a>
    <a href="#">Lifestyle</a>
  </div>

  <div class="mobile-menu__second-level">
    <a href="#" class="is-selected">Clothing</a>
    <a href="#">Shoes</a>
    <a href="#">Accesories</a>
    <a href="#">Sale</a>
    <a href="#">Designers</a>
  </div>

  <div class="mobile-menu__footer">
    <a href="#">About</a>
    <a href="#">Contact</a>
  </div>





</div>
