<div class="mobile-menu__main-content">
  <div class="mobile-menu__top-categories">
    <a href="#" class="is-selected">Men</a>
    <a href="#">Women</a>
    <a href="#">Lifestyle</a>
  </div>

  <div class="mobile-menu__second-level">
    <a href="#" class="is-selected" data-target='clothing'>Clothing</a>
    <a href="#" data-target='shoes'>Shoes</a>
    <a href="#" data-target='accesories'>Accesories</a>
    <a href="#" data-target='sale'>Sale</a>
    <a href="#" data-target='designers'>Designers</a>
  </div>

  <div class="mobile-menu__footer">
    <a href="#">About</a>
    <a href="#">Contact</a>
  </div>
</div>
