<figure
  class="{% if include.light-theme %}
  sandbox-figure--white
  {% else %}
  sandbox-figure
  {% endif %}">

  <img src="/assets/images/{{ include.image }}">

  <figcaption class="{% if include.figure == 'bottom-left' %}
  sandbox-figure__caption--bottom-left
  {% elsif include.figure == 'top-left' %}
  sandbox-figure__caption--top-left
  {% elsif include.figure == 'centered' %}
  sandbox-figure__caption--centered
  {% elsif include.figure == 'centered-left' %}
  sandbox-figure__caption--centered-left
  {% elsif include.figure == 'promo' %}
  sandbox-figure__caption--promo

  {% else %}
  sandbox-figure__caption
  {% endif %}">
    <div class="information">
      {% if include.h1 %}
        <h1>{{ include.h1 }}
          {% if include.h1-second-line %}
            <br> {{ include.h1-second-line }}
          {% endif%}
        </h1>
      {% endif %}

      {% if include.h2 %}
        <h2>{{ include.h2 }}</h2>
      {% endif %}

      {% if include.h3 %}
        <h3>{{ include.h3 }}</h3>
      {% endif %}

      {% if include.h4 %}
        <h4>{{ include.h4 }}</h4>
      {% endif %}

      <a href="#" class="cta">Shop Now</a>
    </div>
  </figcaption>
</figure>
