.login-box {
  background: $white;
  padding: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
  @include bp(desktop) {
    padding: 30px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 14px;
    line-height: (22/14);
    margin-bottom: 30px;
  }
}

.login-form {
  @include e(row) {
    @include clearfix;
    margin-left: -12px;
    margin-right: -12px;
  }

  @include e(column) {
    float: left;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;

    @include m(half) {
      @extend .login-form__column;
      @include bp(desktop) {
        width: 50%;
      }
    }
  }

  input {
    font-size: 12px;
    @include bp(desktop) {
      margin-bottom: 60px;
    }
  }

  .small-margin {
    margin-bottom: 15px;
    @include bp(desktop) {
      margin-bottom: 30px;
    }
  }

  .button {
    display: block;
    background: $black;
    color: $white;
    border-radius: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    padding: 25px;
    width: 100%;
    text-transform: uppercase;
    &:hover, &:focus {
      background: $black;
      color: $white;
    }
  }
}
