.breadcrumb {
  font-size: 12px;
  line-height: (14/12);
  letter-spacing: 1px;
  a {
    color: inherit;
  }
  @include e(item) {
    display: inline-block;
    & + &::before {
      display: inline-block;
      content: '>';
      padding: 0 5px;
    }
  }
}

.product-breadcrumbs {
  display: none;
  margin-top: 10px;
  margin-bottom: 20px;
  @include bp(desktop) {
    display: block;
  }
}
