.desktop-search {
  position: absolute;
  top: 100%;
  width: 100%;
  background: rgba($white, 0.98);
  padding: 20px 0;
  color: $black;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;
  letter-spacing: 1px;
  @include is(active) {
    opacity: 1;
    pointer-events: all;
  }

  @include e(categories) {
    text-align: center;
    margin-bottom: 25px;
    a {
      display: inline-block;
      margin-right: 45px;
      position: relative;
      z-index: 1;
      &:last-child {
        margin-right: 0;
      }
      @include is(selected) {
        &::before {
          position: absolute;
          content: '';
          width: 120%;
          height: 10px;
          background: rgba(220,220,220, 0.8);
          bottom: -4px;
          left: -10%;
          z-index: -1;
          transition: background .3s;
        }
      }
    }
  }

  @include e(search-input) {
    text-align: center;
    margin-bottom: 40px;
    @include placeholder {
      color: #B8B8B8;
    }
  }

  @include e(results) {
    @include clearfix;

    p {
      font-weight: bold;
      margin-bottom: 25px;
    }

    a{
      display: block;
      margin-bottom: 20px;
    }
  }

  @include e(column) {
    @include span-columns(2);

    @include m(large) {
      @include span-columns(3);
      @include shift(4);
    }
  }

}
