.desktop-menu {
  display: none;
}

@include bp(desktop) {
  .desktop-menu {
    display: block;
    background: $black;
    color: $white;
    font-size: 12px;
    line-height: (14/12);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 18px 0;
    position: relative;
    a {
      color: inherit;
    }
    .row--flex {
      display: flex;
      align-items: center;
    }
    @include e(left-side) {
      margin-right: auto;
      a {
        display: inline-block;
        margin-right: 55px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    @include e(right-side) {
      margin-left: auto;
      display: flex;
      align-items: center;
      cursor: pointer;
      p {
        margin-bottom: 0;
        margin-left: 15px;
      }
    }
    @include e(search-icon) {
      width: 12px;
    }
  }
}
