.site-footer {
  background: $white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: (22/12);
  padding-bottom: 25px;
  letter-spacing: 1px;
}

// Let's style each column
.footer-column {
  padding-top: 20px;
  border-bottom: 1px solid $black;
  @include e(title) {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    h4 {
      margin-bottom: 0;
      margin-right: auto;
    }
    .js-toggle {
      cursor: pointer;
    }
    .js-toggle-less {
      display: none;
    }
  }

  @include e(info) {
    display: none;
    margin-bottom: 20px;
    a {
      color: $black;
      display: block;
    }
  }
  @include e(social) {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    a {
      display: block;
      width: 50%;
      flex-basis: 50%;
      padding: 10px 0;
    }
  }
}

// Styles for the triggered column
.footer-column.js-is-active {

  .footer-column__title {
    .js-toggle-less {
      display: block;
    }
    .js-toggle-more {
      display: none;
    }
  }
  .footer-column__info {
    display: block;
  }
}

// Styles for the social column
.footer-column--always-open {
  border-bottom: none;
  .footer-column__info {
    display: block;
  }
}


// Desktop view

@include bp(desktop) {
  .footer-column {
    border-bottom: none;
    @include span-columns(3);

    @include e(info) {
      display: block;
    }

    @include e(title) {
      h4 {
        font-size: 14px;
        line-height: (16/14);
        letter-spacing: 2px;
      }
      .js-toggle {
        display: none;
      }
    }
  }
}

@include bp(4k) {
  .footer-column {
    @include e(social) {
      text-align: left;
      flex-wrap: nowrap;
      a {
        width: auto;
        flex-basis: auto;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
