.main-nav{
  padding: 13px 0;
  background: $white;

  @include e(logo) {
    margin: 0 auto;
  }
  @include e(burger) {
    cursor: pointer;
  }
  @include e(cart) {
    cursor: pointer;
  }
  .row--flex {
    display: flex;
    align-items: center;
  }
}

// Active menu
.main-nav.js-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: fadeInDownBig .8s;
  z-index: 5;
}
