.mobile-menu {
  @include e(secondary-content) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(150%);
    transition: transform .3s;
  }

  @include e(secondary-return) {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    //border-bottom: 1px solid $white;
    cursor: pointer;
    margin-bottom: 30px;
    img {
      width: 10px;
      margin-right: 15px;
    }
    span {
      font-size: 20px;
      line-height: (22/20);
      letter-spacing: 1.67px;
      text-transform: none;
    }
  }

  @include e(third-level) {
    display: none;
    @include is(active) {
      display: block;
    }
    @include m(category) {
      margin-bottom: 30px;
      a {
        display: block;
        margin-bottom: 25px;
        &:first-child {
          font-weight: bold;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}


// Second Level is Active
.mobile-menu.js-second-level-active {
  .mobile-menu__main-content {
    transform: translateX(-150%);
  }
  .mobile-menu__secondary-content {
    transform: translateX(0);
  }
}
