.checkout-summary {
  @include e(main) {
    background: $white;
    padding: 20px;
    text-transform: uppercase;

    h4 {
      font-size: 12px;
      line-height: (14/12);
      margin-bottom: 0;
      letter-spacing: 1px;
    }
  }
}

.checkout-single-item {
  padding: 20px 0;
  border-bottom: 1px solid $black;
  letter-spacing: 1px;
  @include clearfix;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  @include e(pic) {
    @include span-columns(4);
  }

  @include e(details) {
    @include span-columns(8);

    h2 {
      font-size: 14px;
      line-height: (22/14);
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
      line-height: (14/12);
      margin-bottom: 15px;
    }
  }

  @include e(sizes) {
    @include clearfix;

    p {
      display: inline-block;
      width: 70px;
      float: left;
    }
  }
}
