<div class="blog-featured-posts">
  <div class="blog-featured-posts__title">
    <h2>Featured</h2>
  </div>

  {%  include blog/blog-single-featured.html
      image='blog-3.png'
  %}
  {%  include blog/blog-single-featured.html
      image='blog-4.png'
  %}
  {%  include blog/blog-single-featured.html
      image='blog-2.png'
  %}
  {%  include blog/blog-single-featured.html
      image='blog-1.png'
  %}
  {%  include blog/blog-single-featured.html
      image='blog-4.png'
  %}
  {%  include blog/blog-single-featured.html
      image='blog-2.png'
  %}

</div>
