.single-collection {
  margin-bottom: 15px;
  height: 193px;
  @include clearfix;

  @include e(image) {
    position: relative;
    height: 100%;
    @include float-cols(1,2);
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include m(link) {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      transition: background 0.3s;
      z-index: 2;
    }
  }

  @include e(info) {
    height: 100%;
    @include float-cols(1,2);
    background: $white;
    padding: 25px 15px;
    display: flex;
    align-items: center;

    h2,
    h3,
    a {
      text-transform: uppercase;
      position: relative;
      color: $black;
    }

    h3 {
      font-weight: normal;
      font-size: 12px;
      line-height: (14/12);
      margin-bottom: 25px;
    }

    h2 {
      font-size: 16px;
      line-height: (22/16);
      margin-bottom: 25px;
    }
    a {
      font-size: 14px;
      line-height: (16/14);
      z-index: 1;
      &::before {
        position: absolute;
        content: '';
        width: 120%;
        height: 11px;
        background: rgba(220,220,220, 0.8);
        bottom: -4px;
        left: -10%;
        z-index: -1;
        transition: background .3s;
      }
    }
  }
}


.single-collection:hover {
  .single-collection__image--link {
    background: rgba($black, 0.4);
  }
  .single-collection__info {
    a::before {
      background: rgba($black, 0.8);
    }
  }
}
