.home-cta {
  padding: 30px;
  background: $white;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  font-size: 18px;
  a {
    display: block;
    color: $black;
    line-height: (29/18);
    em {
      font-style: normal;
      font-weight: bold;
    }
  }
}


// Desktop
@include bp(desktop) {
  .home-cta {
    padding: 40px;
    font-weight: bold;
    font-size: 14px;
    line-height: (22/14);
    br {
      display: none;
    }
  }
}
