<!DOCTYPE html>
<html>

{% include head.html %}

<body class="js-mobile-menu-active">

  <div class="everything-mobile-wrapper">
    <div class="everything-mobile-contents">

      {% include header.html %}
      <main class="page-content">
        {{ content }}
        {% include footer.html %}
      </main>
    </div>


    {% include mobile-menu.html %}
  </div>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- inject:js -->
  <!-- endinject -->
  {% include analytics.html %}

</body>

</html>
