<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <div class="everything-mobile-wrapper">
    <div class="everything-mobile-contents">

      {% include header.html %}
      <main class="page-content"><div class="page-content__overlay"></div>
        {{ content }}

      </main>
    </div>

    {% include mobile-menu.html %}
  </div>
  {% include footer.html %}

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- inject:js -->
  <!-- endinject -->
  {% include analytics.html %}

</body>

</html>
