<div class="checkout-customer">
  <form action="#" class="checkout-form">
    <div class="checkout-form__row">
      <h4>Customer Information</h4>

      <input type="email" placeholder="Email">
      <p>Already have an account with us? <a href="#" class="checkout-form__link">Log In</a></p>
      <a href="#" class="button">Sign In with Amazon</a>
    </div>

    <div class="checkout-form__row checkout-form__row--push-down">
      <h4>Shipping Address</h4>

      <div class="checkout-form__half">
        <input type="text" required placeholder="First Name">
      </div>

      <div class="checkout-form__half">
        <input type="text" required placeholder="Last Name">
      </div>

    </div>

    

  </form>
</div>
