<div class="checkout-summary">
  <h4>Order Summary</h4>
  {% include checkout/checkout-single-item.html %}
  {% include checkout/checkout-single-item.html %}


  <div class="cart-summary cart-summary--black">
    <div class="cart-summary__calcs">
      <p><span>Subtotal:</span><span class="right">$640</span></p>
      <p><span>Shipping:</span><span class="right">FREE</span></p>
      <p><span>Taxes:</span><span class="right">$0.00</span></p>
    </div>

    <div class="cart-summary__total">
      <p><em>Total</em><em class="right">$1,099.50</em></p>
    </div>
  </div>

</div>
