<div class="checkout-customer">
  <form action="#" class="checkout-form">
    <h4>Customer Information</h4>
    <div class="checkout-form__row">
      <input type="email" placeholder="Email" class="tiny-margin">
      <p>Already have an account with us?</p>
    </div>
    <a href="#" class="button">Login with Email</a>
    <a href="#" class="button">Login with Amazon</a>

    <h4>Shipping Address</h4>

    <div class="checkout-form__row checkout-form__row--half-inside checkout-form__row--push-down">

      <div class="checkout-form__half">
        <input type="text" required placeholder="First Name *">
      </div>

      <div class="checkout-form__half">
        <input type="text" required placeholder="Last Name *">
      </div>

    </div>

    <div class="checkout-form__row">
      <input type="text" placeholder="Company">
    </div>

    <div class="checkout-form__row">
      <input type="text" placeholder="Address Line 1 *" required>
    </div>

    <div class="checkout-form__row">
      <input type="text" placeholder="Address Line 2">
    </div>

    <div class="checkout-form__row checkout-form__row--half-inside">

      <div class="checkout-form__half">
        <input type="text" required placeholder="City *">
      </div>

      <div class="checkout-form__half">
        <input type="text" required placeholder="State *">
      </div>

    </div>

    <div class="checkout-form__row">
      <select name="" id="">
        <option value="" selected disabled>Country *</option>
        <option value="">Andorra</option>
        <option value="">USA</option>
        <option value="">Mexico</option>
      </select>
    </div>

    <div class="checkout-form__row">
      <input type="text" placeholder="ZIP">
    </div>

    <div class="checkout-form__row">
      <input type="tel" placeholder="Phone *" required>
    </div>

    <input type="submit" value="Continue" class="button button--no-margin">

  </form>
</div>
