.cart-summary {
  background: $white;
  padding: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;

  h6 {
    font-size: 12px;
    line-height: (14/12);
    margin-bottom: 20px;
  }

  p {
    font-size: 12px;
    line-height: (14/12);
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }

    .right {
      float: right;
    }

    em {
      font-style: normal;
      font-weight: bold;
    }
  }

  @include e(calcs) {
    margin-bottom: 20px;
  }

  @include e(total) {
    border-top: 1px solid $black;
    padding-top: 20px;
  }

  @include e(button) {
    width: 100%;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: (22/14);
    background: $black;
    color: $white;
    padding: 20px;
    outline: none;
    transition: .3s;
    &:hover, &:focus {
      color: $black;
      background: $white;
      text-decoration: underline;
    }

    @include m(white) {
      color: $black;
      background: $white;
      &:hover, &:focus {
        background: $black;
        color: $white;
      }
    }
  }

  @include e(title) {
    margin-bottom: 20px;
    h6, img {
      display: inline-block;
      margin-bottom: 0;
    }
    img {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
