.cart-help {
  background: $white;
  padding: 16px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;

  h4 {
    font-size: 12px;
    line-height: (14/12);
  }

  p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: (22/12);
  }

  .cta {
    font-size: 12px;
  }

  a {
    color: inherit;
  }
}

.cart-help--clear {
  @extend .cart-help;
  background: transparent;
}


@include bp(desktop) {
  .cart-help {
    height: 140px;
    margin-bottom: 25px;

    @include e(third) {
      @include span-columns(3 of 9);
    }
  }

  .cart-help--clear {
    padding: 0 16px;
    margin-bottom: 35px;
    height: auto;
  }
}
