.account-history {
  table {
    font-size: 12px;
    line-height: (14/12);
    letter-spacing: 1px;
    text-transform: none;
    margin-bottom: 15px;
    text-align: center;
  }

  tr:nth-child(even) {
    background: #F4F4F4;
  }

  a {
    color: inherit;
  }

  @include e(center) {
    text-align: center;
    margin-bottom: 0;
  }
}
