.catalog-products {
  @include clearfix;

  @include e(row) {
    @include clearfix;
  }

  @include e(empty-cart) {
    background: $white;
    padding: 30px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    min-height: 400px;
  }

  @include e(empty-cart-container) {
    @include align(both);
    text-transform: uppercase;
    letter-spacing: 1px;

    img {
      width: 48px;
      display: block;
      margin: 0 auto 30px;
    }
    h2 {
      font-size: 14px;
      line-height: (22/14);
      margin-bottom: 25px;
    }
    h3 {
      font-size: 14px;
      line-height: (22/14);
      font-weight: normal;
      margin-bottom: 0;
    }
  }
}


@include bp(desktop) {
  .catalog-products {
    @include span-columns(10);

    @include e(empty-cart) {
      margin-bottom: 50px;
      min-height: 515px;
    }

    @include e(empty-cart-container) {
      width: 70%;
    }
  }
}
