.catalog-sidebar {
  background: $gray;
  position: fixed;
  padding: 15px 0;
  top: 65px;
  left: 0;
  width: 100%;
  height: calc(100% - 65px);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity .3s;
  @include is(active) {
    z-index: 5;
    opacity: 1;
    pointer-events: all;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@include bp(desktop) {
  .catalog-sidebar {
    position: static;
    opacity: 1;
    pointer-events: all;
    @include span-columns(2);
    padding: 0;
    top: initial;
    left: initial;
    height: auto;
    z-index: 2;
    background: none;
    margin-bottom: 50px;
    // We need a container on mobile but not on desktop here
    .container {
      width: 100%;
      max-width: 100%;
    }
  }
}
