<div class="login-new login-box">
  <h2>New Customers</h2>
  <form action="" class="login-form">
    <div class="login-form__row">
      <div class="login-form__column--half">
        <input type="text" placeholder="First Name">
      </div>
      <div class="login-form__column--half">
        <input type="text" placeholder="Last Name">
      </div>
    </div>
    <div class="login-form__row">
      <div class="login-form__column">
        <input type="email" placeholder="Email">
      </div>
    </div>
    <div class="login-form__row">
      <div class="login-form__column">
        <input type="password" placeholder="Password" class="small-margin">
      </div>
    </div>
    <div class="login-form__row">
      <div class="login-form__column">
        <button class="button" type="submit">Creat Account</button>
      </div>
    </div>
  </form>
</div>
