<div class="login-registered login-box">
  <h2>Registered Customer</h2>
  <form action="" class="login-form">
    <div class="login-form__row">
      <div class="login-form__column">
        <input type="email" placeholder="Email">
      </div>
    </div>
    <div class="login-form__row">
      <div class="login-form__column">
        <input type="password" placeholder="Password" class="small-margin">
      </div>
    </div>
    <div class="login-form__row">
      <div class="login-form__column">
        <button class="button" type="submit">Login</button>
      </div>
    </div>
  </form>
  <a class="forgot-password" href="#">Forgot Password?</a>
</div>
