
<div class="gallery-thumbnails">

  <div class="gallery-thumbnails__single" data-slide='0'>
    <img src="/assets/images/prod-3.jpg">
  </div>
  <div class="gallery-thumbnails__single" data-slide='1'>
    <img src="/assets/images/prod-2.jpg">
  </div>
  <div class="gallery-thumbnails__single" data-slide='2'>
    <img src="/assets/images/prod-1.jpg">
  </div>
</div>


<div class="slider-main">

  <div class="slider-main__image">
    <img src="/assets/images/prod-3.jpg">
  </div>

  <div class="slider-main__image">
    <img src="/assets/images/prod-2.jpg">
  </div>

  <div class="slider-main__image">
    <img src="/assets/images/prod-1.jpg">
  </div>

</div>
