<div class="product-details">

  <div class="product-details__section product-details__section--mobile-center">
    <h2>Sold Out Frvr</h2>
    <p>Smiley Flannel Shirt</p>
    <p>$240</p>
  </div>

  <div class="product-details__section product-details__section--mobile-center">
    <h3>Details</h3>
    <p>RED AND ECRU COTTON SMILEY FLANNEL SHIRT FROM SOLD OUT FRVR FEATURING A CUTAWAY COLLAR, A FRONT BUTTON FASTENING, A CURVED HEM, LONG SLEEVES AND BUTTON CUFFS.</p>
  </div>

  <div class="product-details__section product-details__section--mobile-center">
    <p><a href="#">Contact Us</a></p>
    <p>Product Code: MK201502011</p>
  </div>

  <div class="product-details__section product-details__section--mobile-center">
    <span class="cta">Product Measurements</span>
  </div>

  <div class="product-details__section">
    <div class="product-details__section--half">
      <h3>Size</h3>
      <select  class="product-details__select">
        <option value="" disabled selected>Select Size</option>
        <option value="">Extra Small</option>
        <option value="">Small</option>
        <option value="">Medium</option>
        <option value="">Large</option>
        <option value="">Extra Large</option>
      </select>
    </div>

    <div class="product-details__section--half">
      <h3>Qty</h3>
      <div class="product-details__qty">
        <span class="product-details__qty--button product-details__qty--minus"><img src="/assets/images/minus-icon.svg"></span>
        <input type="num" class="product-details__input" value="1">
        <span class="product-details__qty--button product-details__qty--plus"><img src="/assets/images/plus-icon.svg"></span>
      </div>
    </div>
  </div>

  <div class="product-details__section">
    <button type="submit" class="product-details__submit">Add To Cart</button>
  </div>

  <div class="product-details__section">
    <div class="catalog-sidebar-filter">
      <div class="catalog-sidebar-filter__title">
        <h6>Features</h6>
        <img src="/assets/images/plus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-more"/>
        <img src="/assets/images/minus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-less"/>
      </div>

      <div class="catalog-sidebar-filter__options">
        <p>- Feature 1</p>
        <p>- Feature 2</p>
        <p>- Feature 3</p>
      </div>
    </div>

    <div class="catalog-sidebar-filter">
      <div class="catalog-sidebar-filter__title">
        <h6>Composition</h6>
        <img src="/assets/images/plus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-more"/>
        <img src="/assets/images/minus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-less"/>
      </div>

      <div class="catalog-sidebar-filter__options">
        <p>- Feature 1</p>
        <p>- Feature 2</p>
        <p>- Feature 3</p>
      </div>
    </div>

  </div>

  <div class="product-details__section product-details__section--mobile-only">
    <a href="#top" class="catalog-pages__scroll-top">
      <img src="/assets/images/arrow-up--thin.png">
      <span>Back To Top</span>
    </a>
  </div>

</div>
