<div class="product-measurements">
  <div class="product-measurements__image">
    <img src="/assets/images/prod-measures.jpg" data-size="xs">
  </div>

  <div class="product-measurements__info">
    <h4>Displaying Measurements For Size:</h4>
    <div class="product-measurements__sizes">
      <div class="option-radio is-active" data-size-to='xs'><span>XS</span></div>
      <div class="option-radio" data-size-to='s'><span>S</span></div>
      <div class="option-radio" data-size-to='m'><span>M</span></div>
      <div class="option-radio" data-size-to='l'><span>L</span></div>
      <div class="option-radio" data-size-to='xl'><span>XL</span></div>
    </div>

    <div class="product-measurements__sizes product-measurements__sizes--measures">
      <div class="option-radio option-radio--large is-active" data-unit-to="cm"><span>CM</span></div>
      <div class="option-radio option-radio--large" data-unit-to="in"><span>INCH</span></div>
    </div>

    <div class="product-measurements__more-info">
      <h4>Model Measurements</h4>
      <div class="product-measurements__more-info--sizes" data-unit-to="in">
        <p>Model is 6ft 2'' tall and wearing a size L</p>
        <table class="product-measurements__table">
          <tr>
            <td>Chest</td>
            <td>34''</td>
          </tr>
          <tr>
            <td>Chest</td>
            <td>34''</td>
          </tr>
          <tr>
            <td>Chest</td>
            <td>34''</td>
          </tr>
          <tr>
            <td>Chest</td>
            <td>34''</td>
          </tr>
        </table>
      </div>
      <div class="product-measurements__more-info--sizes is-active" data-unit-to="cm">
        <p>Model is 1.75m tall and wearing a size L</p>
        <table class="product-measurements__table">
          <tr>
            <td>Chest</td>
            <td>86cm</td>
          </tr>
          <tr>
            <td>Chest</td>
            <td>86cm</td>
          </tr>
          <tr>
            <td>Chest</td>
            <td>86cm</td>
          </tr>
          <tr>
            <td>Chest</td>
            <td>86cm</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
