
<div class="cart-help__third">
  <div class="cart-help">
    <h4>Phone</h4>
    <p>Call us at +1 (212) 777 - 0990. Available monday - saturday, 12-8 pm (est) & sunday 12-7 pm (est).</p>
  </div>
</div>

<div class="cart-help__third">
  <div class="cart-help">
    <h4>Email</h4>
    <p><a href="#">Click Here</a> to send us an Email</p>
  </div>
</div>

<div class="cart-help__third">
  <div class="cart-help">
    <h4>FAQ</h4>
    <p>We have a lot of answers our</p>
    <a href="#" class="cta">FAQS Page</a>
  </div>
</div>
