<div class="cart-summary">
  <h6>Summary</h6>
  <div class="cart-summary__calcs">
    <p><span>Subtotal:</span><span class="right">$640</span></p>
    <p><span>Shipping:</span><span class="right">FREE</span></p>
  </div>

  <div class="cart-summary__total">
    <p><em>Total</em><em class="right">$1,099.50</em></p>
  </div>
</div>

<button href="#" class="cart-summary__button">Go To Checkout</button>

<button class="cart-summary__button cart-summary__button--white">Pay with Amazon</button>

<div class="cart-summary">
  <div class="cart-summary__title">
    <img src="/assets/images/freeship.png" alt="">
    <h6>Free Shipping</h6>
  </div>
  <p class="cart-summary__large-paragraph">FREE DOMESTIC SHIPPING FOR THE USA & FREE SAME-DAY IN NYC. CLICK HERE TO FIND OUT MORE.</p>
</div>
