---
layout: default
---

<div class="main-home-container">
  <div class="container">
    <div class="sandbox-row">
      <div class="sandbox-column--large">
        {% include
          sandbox/sandbox-figure.html
          figure="centered-left"

          image="sand-1.png"
          h1="30% Off"
          h1-second-line="Only Today"
        %}
      </div>
      <div class="sandbox-column--small">
        {% include
          sandbox/sandbox-figure.html
          light-theme=true

          figure='bottom-left'
          image="sand-2.png"

          h3="New In Bags"
        %}
      </div>
    </div>

    <div class="sandbox-row">
      <div class="sandbox-column--half">
        {% include
          sandbox/sandbox-figure.html
          image="sand-3.png"
          figure="top-left"

          h2="Small Headline with 2 lines of Text"
        %}
      </div>
      <div class="sandbox-column--half">
        {% include
          sandbox/sandbox-figure.html
          image="sand-4.png"
          figure="top-left"

          h2="Small Headline with 2 lines of Text"
        %}
      </div>
    </div>

    <div class="sandbox-row">
      <div class="sandbox-column--small">
        {% include
          sandbox/sandbox-figure.html
          image="sand-5.png"
          figure="bottom-left"

          h2="Headline with Two lines"
        %}
      </div>
      <div class="sandbox-column--large">
        {% include
          sandbox/sandbox-figure.html
          light-theme=true
          image="sand-6.png"
          figure="centered"

          h1="This Looks Awesome"
        %}
      </div>
    </div>

    <div class="sandbox-row">
      <div class="sandbox-column--full">
        {% include
          sandbox/sandbox-figure.html
          image="sand-7.png"
          figure="promo"

          h1="Sale"
          h2="Extra 20% Off Sale Prices"
          h3="Use Code: NEWSITE"
        %}
      </div>
    </div>


  </div>
</div>
