<div class="post-pagination">

  <div class="post-pagination__right">
    <a href="#" class="post-pagination__arrow">
      <img src="/assets/images/arrow-left--thin.png">
      <span>Previous Post</span>
    </a>

    <a href="#" class="post-pagination__arrow">
      <span>Next Post</span>
      <img src="/assets/images/arrow-right--thin.png">
    </a>
  </div>

  <div class="post-pagination__left">
    <a href="#top" class="post-pagination__scroll-top">
      <img src="/assets/images/arrow-up--thin.png">
      <span>Back To Top</span>
    </a>
  </div>
</div>
