<div class="catalog-sidebar-filter">
  <div class="catalog-sidebar-filter__title">
    <h6>Size</h6>
    <img src="/assets/images/plus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-more"/>
    <img src="/assets/images/minus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-less"/>
  </div>

  <div class="catalog-sidebar-filter__options">
    {%
      include catalog/catalog-sidebar-checkbox.html
      id="onesize"
      name="One Size"
    %}
    {%
      include catalog/catalog-sidebar-checkbox.html
      id="xxs"
      name="XXS"
    %}
    {%
      include catalog/catalog-sidebar-checkbox.html
      id="xs"
      name="XS"
    %}
    {%
      include catalog/catalog-sidebar-checkbox.html
      id="s"
      name="S"
    %}
    {%
      include catalog/catalog-sidebar-checkbox.html
      id="m"
      name="M"
    %}
    {%
      include catalog/catalog-sidebar-checkbox.html
      id="l"
      name="L"
    %}
    {%
      include catalog/catalog-sidebar-checkbox.html
      id="xl"
      name="XL"
    %}
    {%
      include catalog/catalog-sidebar-checkbox.html
      id="xxl"
      name="XXL"
    %}
    {%
      include catalog/catalog-sidebar-checkbox.html
      id="xxxl"
      name="XXXL"
    %}
    </div>
</div>
