<div class="catalog-desktop-top">
  <div class="catalog-desktop-top__column">
    <p class="catalog-found-items">123 Products Found</p>
  </div>
  <div class="catalog-desktop-top__column">
    <p>View:</p>
    <a href="#" class="is-active">30</a>
    <a href="#">60</a>
  </div>
  <div class="catalog-desktop-top__column--large">
    <p>Sort</p>
    <select class="catalog-desktop-top__fancy-select">
      <option>New Arrivals</option>
      <option>Our Picks</option>
      <option>Price (high first)</option>
      <option>Price (low first)</option>
    </select>
  </div>
  <div class="catalog-desktop-top__column">
    <a href="#"><img src="/assets/images/arrow-left--thin.png"></a>
    <a href="#" class="is-active">1</a>
    <span>of</span>
    <a href="#">13</a>
    <a href="#"><img src="/assets/images/arrow-right--thin.png"></a>
  </div>
</div>
