<div class="catalog-sidebar-filter">
  <div class="catalog-sidebar-filter__title">
    <h6>Price</h6>
    <img src="/assets/images/plus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-more"/>
    <img src="/assets/images/minus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-less"/>
  </div>

  <div class="catalog-sidebar-filter__options">
    <div class="catalog-sidebar-filter__price">
      <label for="min">$</label>
      <input type="num" placeholder="Minimum" id="min">
    </div>
    <div class="catalog-sidebar-filter__price">
      <label for="max">$</label>
      <input type="num" placeholder="Maximum" id="max">
    </div>
  </div>
</div>
