<div class="catalog-products">
  <div class="catalog-products__row">
    <div class="catalog-products__empty-cart">
      <div class="catalog-products__empty-cart-container">
        <img src="/assets/images/search-icon-black--large.png">
        <h2>WE DIDN’T FIND ANY PRODUCTS WITH THE CHARACTERISTICS YOU’RE LOOKING FOR</h2>
        <h3>HERE ARE SOME PRODUCTS WE THINK YOU MAY LIKE</h3>
      </div>
    </div>
  </div>
  <div class="catalog-products__row">
    {% include catalog/catalog-back2top.html %}
  </div>
</div>
