<div class="catalog-sidebar-filter">
  <div class="catalog-sidebar-filter__title">
    <h6>Designers</h6>
    <img src="/assets/images/plus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-more"/>
    <img src="/assets/images/minus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-less"/>
  </div>

  <div class="catalog-sidebar-filter__options">
    <a href="#">08Sircus</a>
    <a href="#">10Sei0otto</a>
    <a href="#">11 By Boris Bidjan Saberi</a>
    <a href="#">22/4 By Stephanie Hahn</a>
    <a href="#">Incotex</a>
    <a href="#">View all</a>
  </div>
</div>
