{%
  include catalog/catalog-single-product.html
  image="product-1.jpg"
  brand="Marni"
  title="Blindfold Graphic T-Shirt"
  price="295"
  label="Odd. Exclusive"
%}
{%
  include catalog/catalog-single-product.html
  image="product-1.jpg"
  brand="Homme Plissé"
  title="Snap Button Cardigan"
  price="324"
%}
{%
  include catalog/catalog-single-product.html
  image="product-1.jpg"
  brand="Marni"
  title="Elasticated Neck Shirt"
  price="513"
  label="2 Left"
%}
{%
  include catalog/catalog-single-product.html
  image="product-1.jpg"
  brand="Home Plissé"
  title="Stripped Trouser"
  price="859.50"
%}
