<div class="catalog-sidebar-filter">
  <div class="catalog-sidebar-filter__title">
    <h6>Color</h6>
    <img src="/assets/images/plus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-more"/>
    <img src="/assets/images/minus-icon.svg" alt="A plus icon" class="js-toggle js-toggle-less"/>
  </div>

  <div class="catalog-sidebar-filter__options">
    {%
      include catalog/catalog-sidebar-checkbox.html
      id="black"
      name="Black"
    %}

    {%
      include catalog/catalog-sidebar-checkbox.html
      id="blue-brown"
      name="Blue Brown"
    %}

    {%
      include catalog/catalog-sidebar-checkbox.html
      id="green"
      name="Green"
    %}

    {%
      include catalog/catalog-sidebar-checkbox.html
      id="grey"
      name="Green"
    %}

    {%
      include catalog/catalog-sidebar-checkbox.html
      id="multicolor"
      name="Multicolor"
    %}

    {%
      include catalog/catalog-sidebar-checkbox.html
      id="nude"
      name="Nude & Neutrals"
    %}

    {%
      include catalog/catalog-sidebar-checkbox.html
      id="pink"
      name="Pink & Purple"
    %}

    {%
      include catalog/catalog-sidebar-checkbox.html
      id="red"
      name="Red"
    %}

    {%
      include catalog/catalog-sidebar-checkbox.html
      id="white"
      name="White"
    %}

    {%
      include catalog/catalog-sidebar-checkbox.html
      id="yellow"
      name="Yellow & Orange"
    %}
  </div>
</div>
