.blog-pagination {
  @include clearfix;
  font-size: 12px;
  line-height: (14/12);
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 30px;

  @include e(left) {
    text-align: center;
  }
  @include e(right) {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include e(arrow) {
    width: 8px;
    img {
      display: block;
    }
    @include m(left) {
      margin-right: 30px;
    }
    @include m(right) {
      margin-left: 30px !important;
    }
  }

  @include e(spacing-span) {
    margin-left: 10px;
  }
  a {
    color: inherit;
    margin-left: 10px;
    z-index: 1;
    position: relative;
    @include is(active) {
      font-weight: bold;
      &::before {
        position: absolute;
        content: '';
        width: 120%;
        height: 8px;
        background: rgba(220,220,220, 0.8);
        bottom: -1px;
        left: -10%;
        z-index: -1;
        transition: background .3s;
      }
    }
  }

  @include e(scroll-top) {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 8px;
      margin-right: 10px;
    }
  }
}


// Desktop situation
@include bp(desktop) {
  .blog-pagination {
    @include e(right) {
      float: right;
      width: 50%;
      justify-content: flex-end;
      margin-bottom: 0;
    }
    @include e(left) {
      float: left;
      width: 50%;
      text-align: left;
    }

    @include e(scroll-top) {
      justify-content: flex-start;
    }

    @include e(arrow) {

      @include m(left) {
        margin-right: 5px;
      }
      @include m(right) {
        margin-left: 10px !important;
      }
    }
  }
}
