.blog-layout {
  @include clearfix;
}

.blog-featured-posts {
  display: none;
}

@include bp(desktop) {
  .blog-posts {
    @include span-columns(6);
    @include shift(1);
  }
  .blog-featured-posts {
    display: block;
    @include span-columns(4);

    @include e(title) {
      border-bottom: 1px solid $black;
      margin-bottom: 20px;
      h2 {
        font-size: 14px;
        line-height: (22/14);
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
    }
  }
}
