.blog-post {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;


  @include e(image) {
    img {
      display: block;
      width: 100%;
    }
  }

  @include e(details) {
    padding: 20px;
    background: $white;

    h2 {
      font-size: 14px;
      line-height: (22/14);
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;
      line-height: (22/12);
      margin-bottom: 5px;
    }

    .cta {
      font-size: 12px;
      line-height: (14/12);
      letter-spacing: 0.86px;
      color: inherit;
    }
  }

}
