.single-post {
  letter-spacing: 1px;

  @include e(featured-image) {
    img {
      width: 100%;
      display: block;
    }
  }

  @include e(content) {
    background: $white;
    padding: 20px;
    padding-bottom: 0;

    h2 {
      font-size: 14px;
      line-height: (22/14);
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;
      line-height: (22/12);
      margin-bottom: 30px;

      em {
        font-style: italic;
      }

      strong {
        font-weight: bold;
      }
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

    img {
      width: calc(100% + 40px);
      max-width: calc(100% + 40px);
      margin-left: -20px;
      display: block;
      margin-bottom: 30px;
    }

    blockquote {
      padding: 20px;
      width: calc(100% + 40px);
      margin-left: -20px;
      border-left: 2px solid $black;
      font-style: italic;

      p {
        margin-bottom: 0;
      }
    }
  }
}


@include bp(desktop) {
  .single-post {
    @include e(content) {
      padding: 30px;
      padding-bottom: 0;

      img {
        width: calc(100% + 60px);
        max-width: calc(100% + 60px);
        margin-left: -30px;
        display: block;
        margin-bottom: 30px;
      }

      blockquote {
        padding: 30px 20px;
        width: 100%;
        margin-left: 0;
      }

    }
  }
}
